
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <h1>ALL WE ARE IS DUST IN THE WIND</h1>
        <p>Who Are You?</p>
        <form action="/Greet/Index" method="get">
            <input type="text" name="name" />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
